.wrapper{
    padding: 40px;
    margin: 20px 0;
    background-color: white;
    position: relative;
    border: 1px solid lightgray;
}

.orderID{
    position: absolute;
    top:40px;
    right: 20px;
}

.orderTotal{
    font-weight: 600;
    text-align: center;
}